<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in your name and these words to make a funny MadLibs!</h1>
    <form action="/Results" method="post">
     <label for="YourName">Your name:</label>
     <input id="YourName" name="YourName" type="text">
     <label for="Noun">Noun: </label>
     <input id="Noun" name="Noun" type="text">
     <label for="Adjective">Adjective: </label>
     <input id="Adjective" name="Adjective" type="text">
     <label for="Verb">Verb: </label>
     <input id="Verb" name="Verb" type="text">

     <button type="submit">Go!</button>
    </form>
  </body>
</html>